:root {
  --color-outgoing: #f44d8d;
  --color-incomming: #4df47a;
  --color-inverted: #ebbb8b;
  --gutters: #ebe7e5;
  --comment: #555c77;
  --linenumbers: #3e4d67;
  --border: #6b84b0;
  --background-primary: #0000008a;
  --background-thirdly: #000000;
  --background-secondary: #313343;
  --color-primary: #809ac6;
  --color-secondary: #42c6ff;
  --color-thirdly: #f8f8f0;
  --color-fourtly: #75ff91;
  --color-fiftly: #2eff85;
  --gutters-border: 1px solid transparent;
  --border-width: 1px;
  --error: #e93838;
  --warning: #ffed2b;
  --success: #6de46d;
  --icons: #cae5f2;
  --progress: #42c6ff;
  --def: #7e7edd;
  --dec: #42c6ff;
  --classname: #5a9bf0;
  --control: #7e7edd;
  --property: #eaebed;
  --atom: #f14590;
  --number: #dda2f6;
  --string: #9aefea;
  --tag: #9092de;
  --unit: #dda2f6;
  --color: #93ddfb;
  --var: #85b1e0;
  --keyword: #7e7edd;
  /* --keyword: #d976ef; */
  --self: #5a9bf0;
  --separator: #a4b1dd;
  --special: #f5faff;
  --operator: #80bdc6;
  --type: #a571f4;
  --bracket: #ffc32b;
  --meta: #4f73f6;
  --regexp: #93ddfb;
  --font-primary: 'Fantastic';
  --drone1: #833783;
  --drone2: orchid;
  --drone3: pink;
  --drone4: #2a2c2e;
  --hover: #ec8bd6;
}
@font-face {
  font-family: 'Fantastic';
  src: url(./assets/fonts/FantasqueSansMono-Regular.ttf) format('truetype');
  font-display: swap;
}

#tree {
  width: 100vw;
  height: 100vh;
  border: none;
}

#trees-switch {
  position: absolute;
  top: 0;
  left: 30vw;
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

#connection-button:hover {
  opacity: 1;
}

#connection-button {
  opacity: 0.35;
  font-family: var(--font-primary);
  font-size: 20px;
  cursor: pointer;
  border: none;
  position: absolute;
  background-color: transparent;
  text-align: center;
  width: fit-content;
}
#connection-node-A {
  color: var(--color-incomming);
}
#connection-node-B {
  color: var(--color-outgoing);
}
#connection-arrow {
  color: var(--color-primary);
}

#menu-section {
  position: absolute;
  bottom: 32px;
  right: 10px;
  opacity: 0.2;
}
#scroll {
  display: grid;
  position: absolute;
  bottom: 30px;
  left: 15px;
}
#trees-section {
  visibility: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  left: 32px;
  color: var(--color-primary);
  background: transparent;
}
#trees-content {
  text-align: left;
  user-select: none;
  pointer-events: none;
  width: 100vw;
}
#theme-button {
  display: none;
  opacity: 0.5;
  font-size: 20px;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 5px;
  left: 12px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: transparent;
}
#invert-button {
  display: none;
  opacity: 0.5;
  font-size: 16px;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 10px;
  left: 12px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: transparent;
}
#trees-button {
  display: none;
  opacity: 0.5;
  position: absolute;
  border: none;
  cursor: pointer;
  bottom: 32px;
  left: 10px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: transparent;
}
#tutorial-container {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 20px;
  top: 60px;
  border: solid 3px var(--color-secondary);
  z-index: 1;
}
#tutorial-next {
  color: var(--color-primary);
  font-family: 'Fantastic';
  padding: 10px;
  text-align: center;
  background: var(--background-thirdly);
  border: none;
  border-top: 3px solid var(--color-secondary);
  z-index: 1;
  cursor: pointer;
}
#tutorial-next:active {
  background-color: var(--color-secondary);
}
#tutorial-button {
  display: none;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  border: none;
  top: 35px;
  left: 50px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: transparent;
}
#save:hover,
#load:hover,
#zoom-in:hover,
#zoom-out:hover,
#up:hover,
#down:hover,
#left:hover,
#right:hover,
#trees-button:hover,
#tutorial-button:hover,
#theme-button:hover,
#invert-button:hover,
#trees-button-b:hover,
#trees-button-a:hover,
#hints-button:hover,
#identity-button:hover,
#composition-button:hover,
#menu-section:hover {
  border: solid 1px var(--color-primary);
  opacity: 1;
}

#hints-button,
#identity-button,
#composition-button {
  opacity: 0.5;
  display: none;
  cursor: pointer;
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 15px;
  background: transparent;
  border: none;
}

#toolkit {
  margin: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: var(--color-primary);
}

#trees-button-b,
#trees-button-a {
  opacity: 0.5;
  display: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: var(--color-primary);
  background: transparent;
}

#variableInput {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 600;
  position: fixed;
  bottom: 160px;
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100vw;
  margin: auto;
  text-align: center;
  z-index: 1;
  color: var(--color-primary);
  user-select: none;
  pointer-events: none;
}
#zoom-in,
#zoom-out,
#up,
#down,
#left,
#right,
#save,
#load {
  opacity: 0.5;
  font-family: var(--font-primary);
  font-size: 32px;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  background: transparent;
}
#zoom-in,
#zoom-out,
#up,
#down,
#left,
#right {
  font-size: 18px;
}
#save,
#load {
  font-size: 20px;
  padding: 5px;
}

#selectedIndex {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 600;
  position: fixed;
  bottom: 100px;
  display: none;
  width: fit-content;
  margin: auto;
  text-align: center;
  z-index: 1;
  color: var(--color-primary);
  user-select: none;
  border: solid 1px var(--color-primary);
  padding: 20px;
  background-color: var(--background-thirdly);
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#comments-section {
  position: absolute;
  border: solid 1px var(--color-secondary);
  background: transparent;
  top: 0px;
  width: fit-content;
  margin: auto;
  z-index: 2;
}
#tooltip {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  background-color: transparent;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

text,
input,
button,
textarea {
  font-family: var(--font-primary);
  font-size: 12pt;
}

body {
  user-select: none;
  background-color: var(--background-thirdly);
  overflow: hidden;
  margin: 0;
  height: 100vh;
}
#console:focus {
  color: var(--icons);
  background-color: var(--background-thirdly);
}
#console {
  outline: none;
  border: none;
  resize: none;
  padding-left: 50px;
  height: 50px;
  /* margin-left: 50px; */
  position: fixed;
  /* pointer-events: none; */
  border-top: 1px solid var(--border);
  bottom: 0;
}

.success_line,
.error_line,
.info_line,
.warn_line {
  position: absolute;
  resize: vertical;
  width: 98%;
  z-index: 5;
  font-family: var(--font-primary);
  font-style: normal;
  letter-spacing: -0.05em;
  background-color: var(--background-thirdly);
  /* visibility: hidden; */
  padding: 5px;
  padding-inline-start: 10px;
}
.error_line {
  /* border: var(--border-width) solid #ff275d; */
  color: #ff275d;
}
.info_line {
  border: var(--border-width) solid var(--comment);
  color: var(--icons);
}

#editor-container {
  z-index: 1;
}
@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.svgIcon:active {
  transform: scale(1.2);
}
/* .executeButton:active {
  transform: translateX(5px);
} */
.svgIcon:hover {
  color: var(--hover);
  fill: var(--hover);
  stroke: var(--hover);
}

.svgIcon {
  color: var(--icons);
  fill: var(--icons);
  stroke: var(--icons);
}
#header {
  right: 0px;
  bottom: 10px;
  height: 50px;
  border: none;
  padding-left: 10px;
  width: 70px;
  border-left: 1px solid var(--border);
  /* height: 30px;
  min-width: 300px;
  max-width: 400px; */

  display: flex;
  align-items: center;

  background-color: var(--background-thirdly);
  /* border-bottom: solid var(--border-width) var(--comment); */
  position: fixed;
  z-index: 1000;
}
.droneIcon,
#drone {
  cursor: pointer;
  bottom: 0px;
  left: 5px;
  text-align: center;
  padding: 0px;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
}
.droneIcon {
  bottom: 50px;
  left: 0px;
  visibility: hidden;
}

#exit-full {
  cursor: zoom-out;
  opacity: 0;
  top: 0px;
  right: 0px;
  text-align: center;
  padding: 5px;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  display: none;
}
#exit-full:hover {
  opacity: 1;
}
.cm-editor {
  border: none;
  border-bottom: 1px solid var(--border);
}

/* #run,
#drone,
#add-button,
#featured,
#key {
  cursor: pointer;
  background: transparent;
  border: none;
} */
/* .header-button:first-child {
  fill: var(--color-fourtly);
  stroke: var(--color-fourtly);
} */
.header-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

input {
  font-weight: 900;
  background-color: transparent;
  border: var(--border-width) solid var(--comment);
  color: var(--icons);
  margin: 5px;
  padding: 8px;
}
input:focus {
  background-color: var(--icons);
  color: var(--background-thirdly);
}
@keyframes fadeInOpacity {
  0% {
    width: 15%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 15%;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
}

.cm-completionLabel,
.cm-completionMatchedText,
.cm-completionDetail {
  font-family: var(--font-primary);
}

.cm-searchMatch {
  background-color: #686971be !important;
}
.cm-searchMatch-selected {
  background-color: #de61b08e !important;
}
.float {
  animation: float 2s ease-in-out infinite;
}
.shake {
  animation: shake-animation 3.52s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  91.78571% {
    transform: translate(5px, 0);
  }
  93.57143% {
    transform: translate(0, 0);
  }
  95.35714% {
    transform: translate(5px, 0);
  }
  97.14286% {
    transform: translate(0, 0);
  }
  98.92857% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
